body {
  background-image: url(/public/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

.app-container {
  background-color: #fff;
  opacity: 0.6;
  color: #000000;
  border-radius: 4%; 
  width: 350px;
  text-align: center;
    }

